

NET "BTN_Control" LOC = P47;
NET "BTN_Reset" LOC = P46;
NET "CLK_20Mhz" LOC = P123;
NET "Segment[7]" LOC = P26;
NET "Segment[6]" LOC = P27;
NET "Segment[0]" LOC = P41;
NET "Segment[1]" LOC = P40;
NET "Segment[2]" LOC = P35;
NET "Segment[3]" LOC = P34;
NET "Segment[4]" LOC = P32;
NET "Segment[5]" LOC = P29;
NET "Common[0]" LOC = P44;
NET "Common[1]" LOC = P43;
NET "Common[2]" LOC = P33;
NET "Common[3]" LOC = P30;
